<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="style.css" />

    <!--<title>Dashboard Sidebar Menu</title>-->
    <title>o6u</title>
    <!-- css -->
    <%- include('../../../bootstrab/syles.ejs') %>
  </head>
  <body>
    <header><%- include('../../layout/navbar.ejs') %></header>

    <div id="wrapper" class="toggled">
      <div class="iconToggle" id="iconToggle">
        <i class="fa-solid fa-arrow-right-arrow-left"></i>
      </div>
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="font-size: larger; font-weight: bold">
          <li class="sidebar-brand mt-4">
            <a href="#"> Dashboard </a>
          </li>
          <li>
            <a href="/instructor">Profile</a>
          </li>
          <li>
            <a href="/instructoredit">Edit Scores</a>
          </li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div class="p-5"><%- include('./contentsOfPages/edit.ejs') %></div>
      <!-- /#wrapper -->

      <!-- Menu Toggle Script -->
      <script>
        let btn = document.getElementById("iconToggle");
        let sidebar = document.getElementById("wrapper");
        btn.addEventListener("click", () => {
          sidebar.classList.toggle("toggled");
        });
      </script>
    </div>
    <!-- js -->
    <%- include('../../../bootstrab/js.ejs') %>
  </body>
</html>
