<div id="wrapper" class="toggled">
  <div class="iconToggle" id="iconToggle">
    <i class="fa-solid fa-arrow-right-arrow-left"></i>
  </div>
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav" style="font-size: larger; font-weight: bold">
      <li class="sidebar-brand mt-4">
        <a href="#"> Dashboard </a>
      </li>
      <li>
        <a href="/instructor">Profile</a>
      </li>
      <li>
        <a href="/instructoredit">Edit Scores</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <%- include('./contentsOfPages/profile.ejs') %>
  <!-- Page Content -->

  <!-- /#wrapper -->

  <!-- Menu Toggle Script -->
  <script>
    let btn = document.getElementById("iconToggle");
    let sidebar = document.getElementById("wrapper");
    btn.addEventListener("click", () => {
      sidebar.classList.toggle("toggled");
    });
  </script>
</div>
