<div id="page-content-wrapper">
  <div class="container-fluid">
    <h1 class="display-5">Exams Tables</h1>
    <div
      style="
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        align-items: center;
      "
    >
      <% examsTablesOfYears.forEach(function (exam) { %>
      <a href="<%= exam.url%>" style="width: 50rem" target="_blank">
        <div
          class="card text-white bg-dark mb-0 p-2 mt-5"
          style="max-width: 50rem"
        >
          <div class="card-header"></div>
          <div class="card-body">
            <h4 class="card-title">Semester : <%= exam.semester%></h4>
            <p class="card-text"></p>
          </div>
        </div>
      </a>
      <% })%>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
</div>
