<!-- Background image -->
<div
  class="p-5 text-center bg-image rounded-6"
  style="
    background-image: url('/images/course.png');
    height: calc(100vh - 60px);
  "
>
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3 display-3">All Courses find Your Dream Courses</h1>
        <h2 class="mb-3 display-5">Home | All Courses</h2>
        <a
          class="btn btn-outline-light btn-lg bg-primary"
          href="#!"
          role="button"
          style="font-size: 20px"
          >Read More...</a
        >
      </div>
    </div>
  </div>
</div>
<!-- Background image -->
