

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% colleges.forEach((col) => { %>
  <!-- card -->
  <a href="<%= col.url %>">
    <div class="col">
      <div class="card h-100">
        <img src="<%= col.img %>" class="card-img-top" alt="Palm Springs Road" />
        <div class="card-body">
          <h5 class="card-title text-dark"><%= col.title %></h5>
        </div>
      </div>
    </div>
  </a>
  <!-- card -->
  <% }) %>
</div>
