<div class="row row-cols-1 row-cols-md-3 g-4 mt-5 p-2">
  <!-- Last updated 6 m ago -->
  <% infoInCards.forEach(function (info) { %>
    <div class="col">
      <div class="card h-100">
      <img
        src="<%= info.img %>"
        class="card-img-top"
        alt="Skyscrapers"
      />
      <div class="card-body">
        <h5 class="card-title"><%= info.title %></h5>
        <p class="card-text">
         <%= info.desc %>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= info.time %></small>
      </div>
    </div>
  </div>
  <% }) %>
 
</div>
