<div class="mt-5 text-center">
  <hr />
  <br />
  <h1 class="mb-5">latest <span class="badge bg-primary">News</span></h1>
  <div
    class="d-flex justify-content-center align-items-center flex-wrap pt-3 pb-3"
    style="gap: 20px"
  >
    <!--  -->
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="/images/new2.jpg"
            alt="Trendy Pants and Shoes"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title display-3">Faculty of Medicine</h5>
            <h6 class="card-text">
              Faculty of Medicine, October 6 University, is looking forward to
              achieve academic and health care excellence at the national and
              regional levels.
            </h6>
            <p class="card-text">
              <small class="text-muted">Last updated 3 Months ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="/images/new3.jpg"
            alt="Trendy Pants and Shoes"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title display-3">FACULTY OF MEDIA</h5>
            <h6 class="card-text">
              مسابقة التقديم الإخباري بكلية الإعلام جامعة 6 أكتوبر مسابقة
              لاختيار الطلاب الموهوبين في التقديم الإخباري نظمت كلية الإعلام
              وفنون الاتصال مسابقة لاختيار الطلاب المتميزين في التقديم الإخباري
            </h6>
            <p class="card-text">
              <small class="text-muted">Last updated 1 week ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
  <hr />
</div>
