<!-- Background image -->
<div
  class="p-5 text-center bg-image"
  style="background-image: url('/images/infosyscollege.jpg'); height: 400px"
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3 display-5">
          Faculty of Information Systems and Computer Science
        </h1>
        <h4 class="mb-3 display-6">
          Faculty of info sys & com scie of October 6 University
        </h4>
        <a
          class="btn btn-outline-light btn-lg bg-primary"
          style="font-size: 18px"
          href="#!"
          role="button"
          >See More..</a
        >
      </div>
    </div>
  </div>
</div>
<!-- Background image -->
