<div class="text-center mb-4">
  <h1>LATEST <span class="badge bg-primary">NEWS</span></h1>
  <h3 syles="color:black">FOLLOW OUR LATEST NEWS</h3>
</div>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#flush-collapseOne"
        aria-expanded="false"
        aria-controls="flush-collapseOne"
      >
        <span
          style="
            color: #1266f1;
            margin-right: 10px;
            font-size: 20px;
            font-weight: bold;
          "
          >News #1</span
        >
        Faculty of Information Systems and Computer Science
      </button>
    </h2>
    <div
      id="flush-collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingOne"
      data-mdb-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        أكاديمية هواوى بجامعة ٦ أكتوبر الأولى على الجامعات الخاصة والأهلية أعلنت
        شركة هواوي العالمية على صفحتها الرسمية فوز أكاديمية هواوي جامعة ٦ أكتوبر
        بالمركز الأول كأفضل أكاديمية أداء على مستوى الجامعات الخاصة والأهلية

        <div class="text-center">
          <img src="/images/Huawei.png" alt="Huawei" style="width:80%" />
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#flush-collapseTwo"
        aria-expanded="false"
        aria-controls="flush-collapseTwo"
      >
        <span
          style="
            color: #1266f1;
            margin-right: 10px;
            font-size: 20px;
            font-weight: bold;
          "
          >News #2</span
        >
        Faculty of Information Systems and Computer Science
      </button>
    </h2>
    <div
      id="flush-collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingTwo"
      data-mdb-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        كلية نظم المعلومات وعلوم الحاسب بجامعة ٦ اكتوبر منبرا لتنمية المجتمع في
        إطار جهود قطاع تنمية المجتمع بجامعة ٦ أكتوبر، صرحت الأستاذ الدكتور إيمان
        العزيزي نائب رئيس الجامعة لشئون خدمة المجتمع وتنمية البيئة إنه مواكبة
        لآلي
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#flush-collapseThree"
        aria-expanded="false"
        aria-controls="flush-collapseThree"
      >
        <span
          style="
            color: #1266f1;
            margin-right: 10px;
            font-size: 20px;
            font-weight: bold;
          "
          >News #3</span
        >
        Faculty of Information Systems and Computer Science
      </button>
    </h2>
    <div
      id="flush-collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingThree"
      data-mdb-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        كليه نظم المعلومات وعلوم الحاسب جامعة ٦ أكتوبر تتصدر يوم التحدى أكد د
        احمد صالح وكيل خدمة المجتمع لكلية نظم المعلومات وعلوم الحاسب ان الاحتفال
        اليوم هو يوم التحدى وليس بيوم المعاق وفى هذا الصدد دعم صالح برنامج حكا
      </div>
    </div>
  </div>
</div>
