  

  <%- include('../../layout/sidebar.ejs') %>
  <!-- Page Content -->
  <%- include('./sideComponents/prfile.ejs') %>
  <!-- /#wrapper -->
  <!-- Menu Toggle Script -->
  <script>
    let btn = document.getElementById("iconToggle");
    let sidebar = document.getElementById("wrapper");
    btn.addEventListener("click", () => {
      sidebar.classList.toggle("toggled");
    });
  </script>
</div>
